.button_letsgo {
  font-family: arial;
  color: #14396a !important;
  font-size: 24px;
  text-shadow: 1px 1px 0px #7cacde;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 10px 40px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866a3;
  background: #63b8ee;
  background: linear-gradient(top,  #63b8ee,  #468ccf);
  background: -ms-linear-gradient(top,  #63b8ee,  #468ccf);
  background: -webkit-gradient(linear, left top, left bottom, from(#63b8ee), to(#468ccf));
  background: -moz-linear-gradient(top,  #63b8ee,  #468ccf);
}
.button_letsgo:hover {
  color: #14396a !important;
  background: #468ccf;
  background: linear-gradient(top,  #468ccf,  #63b8ee);
  background: -ms-linear-gradient(top,  #468ccf,  #63b8ee);
  background: -webkit-gradient(linear, left top, left bottom, from(#468ccf), to(#63b8ee));
  background: -moz-linear-gradient(top,  #468ccf,  #63b8ee);
}

.container-fluid {
	width: 100%;
	height: 100%;
}

.page-content {
	width: 100%;
	height: 100%;
}

html .page-content {
	overflow-y: hidden;
	overflow-x: hidden;
}

.container-fluid {
  display: inline-block;
}

.active_class {
  background-color: #191970;
}

.pquestion {
  color: red;
}
