

.user-pic {
	float: left;
	width: 300px; 
	height: 150px;
}

.user_info  { 
	margin-left: 55%;
	font-size: 2.1rem;
}

.title_alter:hover {
	cursor: pointer;
	text-decoration: underline;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  max-height: 970px;
  margin: auto;
  text-align: center;
}
.img-responsive {
	 width:520px;
	 height: 450px;

}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #31353d;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
