.button_letsgo {
   border-top: 1px solid #525354;
   background: #525354;
   background: -webkit-gradient(linear, left top, left bottom, from(#c3d5e8), to(#525354));
   background: -webkit-linear-gradient(top, #c3d5e8, #525354);
   background: -moz-linear-gradient(top, #c3d5e8, #525354);
   background: -ms-linear-gradient(top, #c3d5e8, #525354);
   background: -o-linear-gradient(top, #c3d5e8, #525354);
   padding: 20px 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 24px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button_letsgo:hover {
   border-top-color: #011426;
   background: #011426;
   color: #ccc;
   }
.button_letsgo:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }